form{
   
    display: flex;
    align-items: center;
    

    input{
        border: none;
        outline: none;
        width: 50%;
        height: 50px;
        background-color: rgb(220, 90, 112);
        border-radius: 5px;
        color: white;
        padding: 5px;
        font-size: 16px;
        margin: auto;

        &::placeholder{
            color: rgb(209, 209, 209);
        }
    }
}